.blur{
    position: absolute;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    z-index: 1;
}

.checkmark{
    color: green;
    height: 45px;
    width: 45px;
    margin-bottom: 25px;
}

.popup{
    height: 250px;
    width: 300px;
    background-color: black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popuptext{
    color: white;
    text-align: center;
    width: 80%;
}

.btnok{
    color: white;
    background-color: green;
    padding: 7px;
    border-radius: 5px;
    width: 60px;
    height: fit-content;
    text-align: center;
    margin-top: 25px;
}

.btnok:hover{
    color: white;
    cursor: pointer;
}

.hidden{
    display: none;
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
  }

.navbar{
    background-color: rgb(25, 25, 25) !important; 
}

.aboutus{
    background-color: rgb(25, 25, 25) !important;
}

.card{
    background-color: rgb(25, 25, 25) !important;
}

.btn{
    background-color: rgb(175, 175, 175);
    color: black;
}

.btn:hover{
    color: black;
}

.location{
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
}

.locationmap{
    border-radius: 20px;
    width: 80%;
}

.form{
    width: 80%;
    margin-left: 10%;
    background-color: rgb(25, 25, 25);
    border-radius: 20px;
    padding-bottom: 25px;
}

.formrow{
    width: 95%;
    margin-left: 2.5%;
}

.formperson{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.person{
    width: 24%;
}

.formcar{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.carinfo{
    width: 32%;
}

.carinfo2{
    width: 65%;
}

.moreinfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    margin-left: 2.5%;
}

.btnsubmit{
    width: 100px;
    margin-top: 30px;
    background-color: green;
    text-align: center;
    color: white;
    border-radius: 5px;
}

.btnsubmit:hover{
    color: white;
    cursor: pointer;
}

.footer{
    margin-top: 50px;
}

.footer2{
    background-color: rgb(25, 25, 25) !important;
    padding-top: 20px;
}

.footer3{
    margin: 0 !important;
}

.footer4{
    margin: 0 !important;
}


@media (max-width:576px)
{
    .formperson{
        flex-direction: column;
        align-items: center;
    }
    
    .person{
        width: 95%;
        margin-top: 10px;
    }
    
    .formcar{
        flex-direction: column;
        align-items: center;
    }
    
    .carinfo{
        width: 95%;
        margin-top: 10px;
    }

    .carinfo2{
        width: 95%;
    }
    
    .moreinfo{
        width: 90%;
        align-items: center;
        margin-left: 5%;
    }

    .p-5{
        padding: 1rem !important;
    }
}
